Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-staged:typescript, npm run lint-staged:eslint, npm run lint-staged:tests, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: move Dialog component to src instead of parts
  py/examples/meta_dialog.py
  py/examples/meta_dialog_disabled.py
  ui/src/app.tsx
  ui/src/dialog.test.tsx
  ui/src/dialog.tsx
  ui/src/meta.tsx
  ui/src/qd.ts
Due: ./py/venv/bin/flake8

fix: add dialog review changes, fix broken unit tests #264
  py/examples/meta_dialog.py
  py/examples/meta_dialog_disabled.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/button.tsx
  ui/src/dialog.test.tsx
  ui/src/dialog.tsx
  ui/src/layout.test.tsx
  ui/src/meta.test.tsx
  ui/src/meta.tsx
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

feat: add trigger to picker component #307
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/picker.test.tsx
  ui/src/picker.tsx
Due: ./py/venv/bin/flake8

feat: add column headers to csv, remove row names, keep row cells only #248
  ui/src/table.tsx
Due: none

feat: Add trigger to picker component #307 (#327)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/picker.test.tsx
  ui/src/picker.tsx
Due: ./py/venv/bin/flake8

Rename closeable to closable
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/dialog.test.tsx
  ui/src/dialog.tsx
Due: ./py/venv/bin/flake8

Improve docstrings
  ui/src/dialog.tsx
  ui/src/meta.tsx
Due: none

Improve dialog example
  py/examples/meta_dialog.py
Due: ./py/venv/bin/flake8

feat: Implement modal dialogs (#300)
  py/examples/meta_dialog.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/app.tsx
  ui/src/button.tsx
  ui/src/dialog.test.tsx
  ui/src/dialog.tsx
  ui/src/layout.test.tsx
  ui/src/meta.test.tsx
  ui/src/meta.tsx
  ui/src/plot.tsx
  ui/src/qd.ts
  ui/src/setupTests.ts
  ui/src/table.test.tsx
Due: ./py/venv/bin/flake8

feat: Add column headers to csv, remove row names, keep row cells only #248 (#329)
  ui/src/table.tsx
Due: none

docs: Add note about icon args (#325)
  website/docs/components.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Treat wave run foo/bar/baz.py as foo.bar.baz, closes #328
  py/h2o_wave/cli.py
  website/docs/apps.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Specify encoding while reading/writing text files. Fixes #281 Thanks @tnmichael309
  py/examples/tour.py
  py/examples/upload.py
  py/examples/upload_async.py
  py/examples/upload_frame.py
  py/h2o_wave/ide.py
  py/h2o_wave/test.py
Due: ./py/venv/bin/flake8

feat: allow nav link preselection #283
  py/examples/nav.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/nav.test.tsx
  ui/src/nav.tsx
Due: ./py/venv/bin/flake8

feat: center img within img_card and keep its aspect ratio #330
  ui/src/image.tsx
Due: none

chore: update available metrics
  py/h2o_wave/ml.py
Due: ./py/venv/bin/flake8

chore: add docs for ml module
  py/h2o_wave/ml.py
Due: ./py/venv/bin/flake8

feat: update example to reflect a new design
  py/examples/h2o3.py
Due: ./py/venv/bin/flake8

feat: add metric enum
  py/h2o_wave/platform.py
Due: ./py/venv/bin/flake8

feat: add initial api for H2O3
  py/examples/h2o3.py
  py/h2o_wave/__init__.py
  py/h2o_wave/core.py
  py/h2o_wave/platform.py
Due: ./py/venv/bin/flake8

feat: refactor model design
  py/h2o_wave/__init__.py
  py/h2o_wave/ml.py
  py/h2o_wave/platform.py
Due: ./py/venv/bin/flake8

fix: remove development paths
  py/examples/h2o3.py
Due: ./py/venv/bin/flake8

chore: clean up local paths
  py/examples/h2o3.py
Due: ./py/venv/bin/flake8

feat: rename model classes to be less ambiguous
  py/h2o_wave/ml.py
Due: ./py/venv/bin/flake8

feat: add an option for package installation
  py/setup.py
Due: ./py/venv/bin/flake8

feat: add an option to see algo and unify dataset input
  py/examples/h2o3.py
  py/h2o_wave/ml.py
Due: ./py/venv/bin/flake8

feat: simplify example
  py/examples/h2o3.py
Due: ./py/venv/bin/flake8

feat: specify type for cols for train data
  py/h2o_wave/ml.py
Due: ./py/venv/bin/flake8

fix(table): use text ellipsis when col label exceeds initial col width #262
  ui/src/table.tsx
Due: none

Update docstring on value attribute
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/nav.tsx
Due: ./py/venv/bin/flake8

feat: Allow nav link preselection #283 (#331)
  py/examples/nav.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/nav.test.tsx
  ui/src/nav.tsx
Due: ./py/venv/bin/flake8

feat: Center image in img_card and preserve aspect ratio #330 (#332)
  ui/src/image.tsx
Due: none

fix: Use text ellipsis when col label exceeds initial col width #262 (#333)
  ui/src/table.tsx
Due: none

fix: Don't generate ui.* API for discriminated unions, fixes #126
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/wavegen/src/wavegen.ts
Due: ./py/venv/bin/flake8

feat: option to skip openid login page
  cmd/wave/main.go
  conf.go
  server.go
  web_server.go
Due: golint -set_exit_status

feat: review comments
  web_server.go
Due: golint -set_exit_status

feat: do not set next if empty
  web_server.go
Due: golint -set_exit_status

fix: Revert primary website font color to black
  website/src/css/custom.css
Due: none

docs: Add v0.10.0 change log
  CHANGELOG.md
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: support DAI to predict on instance
  py/h2o_wave/core.py
  py/h2o_wave/ml.py
Due: ./py/venv/bin/flake8

Path conditions:
  npm run lint-staged:typescript: any of: *.(ts|tsx)
  npm run lint-staged:eslint: any of: *.(ts|tsx)
  npm run lint-staged:tests: any of: *.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
