Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-staged:typescript, npm run lint-staged:eslint, npm run lint-staged:tests, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "*.(ts|tsx)": [
    "npm run lint-staged:typescript",
    "npm run lint-staged:eslint",
    "npm run lint-staged:tests"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

fix: Display error stacktrace on top of all cards #89
  ui/src/card_menu.test.tsx
  ui/src/layout.tsx
Due: none

Release 0.6.0
  docs/core.html
  docs/index.html
  docs/server.html
  docs/types.html
  docs/ui.html
  py/docs/index.md
  py/examples/requirements.txt
  py/h2o_q/types.py
  py/h2o_q/ui.py
  py/setup.py
  r/R/ui.R
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Add docs for configuring the server and app #23
  Makefile
  docs/index.html
  py/docs/index.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Add table example using backend search #23
  py/examples/table_filter_backend.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

fix: Quote CSV lines properly. Fixes #151
  ui/src/table.tsx
Due: none

fix: allow console and debugger statements in development environment, throw error in production
  ui/.eslintrc.js
Due: none

updated with dashboard.R and layout.R
  r/R/examples/dashboard.R
  r/R/examples/layout.R
Due: none

added dashboard, layout, layout_size and text tour apps
  r/R/examples/layout_size.R
  r/R/examples/text.R
Due: none

feat: change hash if form context menu name starts with # #154
  ui/src/card_menu.test.tsx
  ui/src/card_menu.tsx
  ui/src/layout.tsx
Due: none

chore: minor code style refactor #154
  ui/src/layout.tsx
Due: none

docs: Initial website scaffolding #23
  website/.gitignore
  website/README.md
  website/babel.config.js
  website/blog/2019-05-28-hola.md
  website/blog/2019-05-29-hello-world.md
  website/blog/2019-05-30-welcome.md
  website/docs/doc1.md
  website/docs/doc2.md
  website/docs/doc3.md
  website/docs/mdx.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/sidebars.js
  website/src/css/custom.css
  website/src/pages/index.js
  website/src/pages/styles.module.css
  website/static/.nojekyll
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add Q-specific theming and customizations #23
  website/docs/doc1.md
  website/docs/doc3.md
  website/docusaurus.config.js
  website/src/css/custom.css
  website/src/pages/api.md
  website/src/pages/examples.md
  website/src/pages/gallery.md
  website/src/pages/index.js
  website/static/img/favicon.ico
  website/static/img/hero.jpg
  website/static/img/logo.svg
  website/static/img/undraw_dev_productivity.svg
  website/static/img/undraw_file_sync.svg
  website/static/img/undraw_going_up.svg
  website/static/img/undraw_online_connection.svg
  website/static/img/undraw_proud_coder.svg
  website/static/img/undraw_sharing_articles.svg
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Allow hash navigation using context menus #154 (#159)
  ui/src/card_menu.test.tsx
  ui/src/card_menu.tsx
  ui/src/layout.tsx
Due: none

fix: Allow console and debugger statements in development environment, throw error in production (#152)
  ui/.eslintrc.js
Due: none

feat: add default value for tab_card component #73
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/tab.tsx
Due: ./py/venv/bin/flake8

feat: add tests for tab_card component #73
  ui/src/tab.test.tsx
Due: none

style: adjust file upload height #139
  ui/src/file_upload.tsx
Due: none

fix: Preserve search text in table filtering example #150
  py/examples/table_filter_backend.py
Due: ./py/venv/bin/flake8

fix: Send location hash to app on initial load. Fixes #74
  broker.go
  client.go
  relay.go
  ui/src/qd.ts
Due: golint -set_exit_status

docs: Integrate existing content and examples #23
  website/.gitignore
  website/docs/change-log.md
  website/docs/mdx.md
  website/docs/migrating-0.md
  website/docs/testing.md
  website/docusaurus.config.js
  website/sidebars.js
  website/src/css/custom.css
  website/src/pages/examples.md
  website/sync_examples.py
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Add gallery page to website #23
  website/docusaurus.config.js
  website/sidebars.js
  website/src/css/custom.css
  website/src/pages/gallery.js
  website/src/pages/gallery.md
  website/sync_examples.py
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Publish API to website #23
  py/Makefile
  py/docs/index.md
  py/docs/sync_examples.py
  py/docs/templates/config.mako
  py/docs/templates/credits.mako
  py/docs/templates/head.mako
  py/docs/templates/logo.mako
  py/docs/templates/text.mako
  py/h2o_q/graphics.py
  website/.gitignore
  website/sidebars.js
  website/src/css/custom.css
  website/src/pages/gallery.js
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Remove vuepress site #23
  site/.gitignore
  site/Makefile
  site/README.md
  site/docs/.vuepress/components/Foo/Bar.vue
  site/docs/.vuepress/components/OtherComponent.vue
  site/docs/.vuepress/components/demo-component.vue
  site/docs/.vuepress/config.js
  site/docs/.vuepress/enhanceApp.js
  site/docs/.vuepress/styles/index.styl
  site/docs/.vuepress/styles/palette.styl
  site/docs/README.md
  site/docs/api/README.md
  site/docs/config/README.md
  site/docs/enterprise/README.md
  site/docs/examples/README.md
  site/docs/gallery/README.md
  site/docs/guide/README.md
  site/docs/guide/faq.md
  site/package-lock.json
  site/package.json
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Allow specifying selected tab in tab_card (#162)
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/tab.test.tsx
  ui/src/tab.tsx
Due: ./py/venv/bin/flake8

docs: Warn if an example does not have a corresponding thumbnail #23
  website/src/pages/gallery.js
  website/sync_examples.py
Due: ./py/venv/bin/flake8

docs: Add docs on configuration #23
  py/docs/index.md
  website/docs/configuration.md
  website/docusaurus.config.js
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add screencap to each example page #23
  website/src/css/custom.css
  website/src/pages/gallery.js
  website/sync_examples.py
Due: ./py/venv/bin/flake8

fix: remove unnecessary gap below table caused by hardcoded initial table height #165
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

feat: make file upload height adjustable, align submit button to the left #139
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/file_upload.tsx
Due: ./py/venv/bin/flake8

fix: set autoHide to false explicitly #25
  ui/src/plot.tsx
Due: none

fix: correct typo #25
  ui/src/plot.tsx
Due: none

fix: Don't auto-hide axis labels #25
  ui/src/plot.tsx
Due: none

feat: Make file upload component height adjustable #139
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/file_upload.tsx
Due: ./py/venv/bin/flake8

fix: Fit ui.table component to content height when possible #165
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none
