Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-staged:typescript, npm run lint-staged:eslint, npm run lint-staged:tests, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

Cypress test runner for Q apps
  py/cyp.py
  test/.gitignore
Due: ./py/venv/bin/flake8

fix: Don't pause for input unless trigger is set to true Fixes #117
  ui/src/textbox.test.tsx
  ui/src/textbox.tsx
Due: none

Remove ignore list; set line length to 120
  .flake8
Due: none

feat: Use flake8 linter instead of pylint #55
  .flake8
  .lintstagedrc.json
  py/Makefile
Due: none

feat: Add example for tabs and card delete
  py/examples/tab_delete.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

fix: remove semantic validation (siltent failure) for stepper #110
  ui/src/stepper.test.tsx
  ui/src/stepper.tsx
Due: none

feat: Add example for tabs and card delete (#124)
  py/examples/tab_delete.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

fix: Remove semantic validation (silent failure) for stepper #110
  ui/src/stepper.test.tsx
  ui/src/stepper.tsx
Due: none

Move runner to test/ #116
  test/cypress.py
Due: ./py/venv/bin/flake8

feat: Add Cypress test runner for CI #116
  test/.gitignore
  test/cypress.py
Due: ./py/venv/bin/flake8

feat: Add search, sort, filter, group-by, export and custom cell types to ui.table #33
  package.json
  py/examples/datatable.py
  py/examples/tour.conf
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/icon_table_cell_type.tsx
  ui/src/picker.test.tsx
  ui/src/progress_table_cell_type.tsx
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

Release 0.5.0
  docs/index.html
  docs/types.html
  docs/ui.html
  py/docs/index.md
  py/examples/requirements.txt
  py/setup.py
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix:
  py/examples/datatable.py
  py/examples/table.py
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

fix: allow overflow for the main app container #127
  ui/src/app.tsx
Due: none

chore: add datatable examples per feature #128
  py/examples/datatable_download.py
  py/examples/datatable_filter.py
  py/examples/datatable_groupby.py
  py/examples/datatable_search.py
  py/examples/datatable_sort.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

feat: add sorting filtering and search for grouped by view - need more unit tests #128
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

feat: Start apps on free ports instead of enforcing INTERNAL_ADDRESS env var. Closes #135
  py/examples/tour.py
  py/h2o_q/core.py
  py/h2o_q/server.py
Due: ./py/venv/bin/flake8

Rename and improve examples #128
  py/examples/datatable.py
  py/examples/issue_tracker.py
  py/examples/tab_delete.py
  py/examples/table.py
  py/examples/table_download.py
  py/examples/table_filter.py
  py/examples/table_groupby.py
  py/examples/table_search.py
  py/examples/table_sort.py
  py/examples/tour.conf
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

fix: Always allow HTML in ui.text(). Fixes #130
  py/examples/text.py
  ui/src/markdown.tsx
  ui/src/text.tsx
Due: ./py/venv/bin/flake8

feat: Allow redirecting to URLs and hashes. Closes #132 Add redirect attribute to meta_card.
  py/examples/meta_redirect.py
  py/examples/tour.conf
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/meta.tsx
Due: ./py/venv/bin/flake8

fix: Safer getsockname() destructuring #135
  py/h2o_q/server.py
Due: ./py/venv/bin/flake8

fix: Display tooltip if specified on toolbar buttons. Fixes #134
  ui/src/toolbar.tsx
Due: none

fix: Always default to 127.0.0.1 in local dev mode #135
  py/h2o_q/core.py
  py/h2o_q/server.py
Due: ./py/venv/bin/flake8

Add mechanism for context menus inside form cards. Closes #138 text_xl and text_l components can optionally house context menus.
  py/examples/card_menu.py
  py/examples/form_menu.py
  py/examples/tour.conf
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  tools/qgen/src/qgen.ts
  ui/src/card_menu.test.tsx
  ui/src/card_menu.tsx
  ui/src/form.tsx
  ui/src/layout.tsx
  ui/src/text.tsx
Due: ./py/venv/bin/flake8

fix: support custom colors via color_domain #109
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

feat: api heights and width converted to strings, conditional footer rendering change #128
  py/examples/table.py
  py/examples/table_download.py
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: add table primary_col prop to allow picking not just first column #128
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

fix: change any to S in callback #109
  ui/src/plot.tsx
Due: none

fix: address review issues #109
  ui/src/plot.tsx
Due: none

fix: update generated files #109
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

feat: Support custom colors in plots using color_domain property #109
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

updated with data class. Added data unpacking. Adding indexing for cards
  r/R/core.R
Due: none

feat: Add template component. Closes #143
  py/examples/form_template.py
  py/examples/tour.conf
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/form.tsx
  ui/src/template.tsx
Due: ./py/venv/bin/flake8

feat: Add markup component #143
  py/examples/form_markup.py
  py/examples/tour.conf
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/form.tsx
  ui/src/markup.tsx
Due: ./py/venv/bin/flake8

fix: allow specifying height and width units, refactor primary_column attr to table column link, make smarter footer display based on props
  py/examples/table.py
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

fix: display error stacktrace on top of all cards #89
  ui/src/layout.tsx
Due: none

fix: display error stacktrace on top of all cards #89
  ui/src/card_menu.test.tsx
  ui/src/layout.tsx
Due: none

Minor changes to doc strings.
  ui/src/table.tsx
Due: none

feat: Allow controlling table height, footer, download, reset; several examples
  py/examples/datatable.py
  py/examples/issue_tracker.py
  py/examples/tab_delete.py
  py/examples/table_download.py
  py/examples/table_filter.py
  py/examples/table_groupby.py
  py/examples/table_search.py
  py/examples/table_sort.py
  py/examples/tour.conf
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

Path conditions:
  npm run lint-staged:typescript: any of: *.(ts|tsx)
  npm run lint-staged:eslint: any of: *.(ts|tsx)
  npm run lint-staged:tests: any of: *.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
