Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-staged:typescript, npm run lint-staged:eslint, npm run lint-staged:tests, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "*.(ts|tsx)": [
    "npm run lint-staged:typescript",
    "npm run lint-staged:eslint",
    "npm run lint-staged:tests"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

docs: Add example app used in live coding demo.
  py/examples/plot_app.py
  py/examples/tour.conf
  website/docs/examples/assets/plot-app.png
Due: ./py/venv/bin/flake8

docs: v9.0.1 change log
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Replace icons
  ui/public/favicon.ico
  ui/public/logo192.png
  ui/public/logo512.png
  website/static/img/favicon.ico
  website/static/img/logo.svg
Due: none

Release 0.8.2
  py/examples/requirements.txt
  py/setup.py
Due: ./py/venv/bin/flake8

docs: Add brand assets
  README.md
  assets/brand/favicon.png
  assets/brand/wave-mark-b&w.png
  assets/brand/wave-mark-black.png
  assets/brand/wave-mark-yellow.png
  assets/brand/wave-type-b&w.png
  assets/brand/wave-type-black.png
  assets/brand/wave-type-yellow.png
  assets/brand/wave.svg
  wave.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Replace website favicon
  docs/img/favicon.ico
  docs/img/logo.svg
Due: none

feat: sorting support for numerical cols #178
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

Fixed typos in basic-concepts.md
  website/docs/enterprise/basic-concepts.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: IDE scaffolding #14 As-is, minimal copy of https://github.com/microsoft/monaco-editor-samples/tree/master/browser-esm-webpack-typescript-react
  ide/.gitignore
  ide/package-lock.json
  ide/package.json
  ide/src/components/Editor.tsx
  ide/src/index.css
  ide/src/index.html
  ide/src/index.tsx
  ide/tsconfig.json
  ide/webpack.config.js
Due: none

docs: Add h2o + wave logo variants
  assets/brand/h2o-wave-b&w.png
  assets/brand/h2o-wave-black.png
  assets/brand/h2o-wave-yellow.png
  assets/brand/h2o.svg
  assets/brand/wave.svg
Due: none

docs: Fixed typos in basic-concepts.md (#263)
  website/docs/enterprise/basic-concepts.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Simplify app tutorial.
  website/docs/tutorial-counter.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Add API proxy / handler #14
  proxy.go
  server.go
  web_server.go
Due: golint -set_exit_status

feat: Implement IDE backend #14
  py/h2o_wave/cli.py
  py/h2o_wave/ide.py
  web_server.go
Due: golint -set_exit_status, ./py/venv/bin/flake8

feat: restart ide app on file changes #14
  py/h2o_wave/ide.py
Due: ./py/venv/bin/flake8

feat: Add IDE API functions to IDE front-end #14
  ide/src/components/Editor.tsx
  ide/src/editor.tsx
  ide/src/ide.ts
  ide/src/index.html
  ide/src/index.tsx
  ide/tsconfig.json
  ide/webpack.config.js
  proxy.go
Due: golint -set_exit_status

fix: add plugin-transform-runtime to allow using es6 features
  ide/.babelrc.json
  ide/package-lock.json
  ide/package.json
  ide/src/editor.tsx
Due: none

fix: Add plugin-transform-runtime to allow using es6 features (#267)
  ide/.babelrc.json
  ide/package-lock.json
  ide/package.json
  ide/src/editor.tsx
Due: none

feat: Serve IDE from /_ide #14
  Makefile
  server.go
Due: golint -set_exit_status

feat: Make IDE backend use uvicorn --reload for now #14
  py/h2o_wave/ide.py
Due: ./py/venv/bin/flake8

feat: Hookup up IDE APIs to editor #14
  ide/src/dataflow.ts
  ide/src/editor.tsx
  ide/src/ide.ts
  ide/src/index.html
  ide/src/index.tsx
  ide/src/model.ts
Due: none

feat: Target ES6 for IDE #14
  ide/tsconfig.json
Due: none

feat: Set IDE base path to /_ide/; proxy all requests to 55555 #14
  ide/webpack.config.js
Due: none

docs: Fix typo in hello world tutorial
  website/docs/tutorial-hello.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix example to match 0.9+
  py/examples/breadcrumbs.py
  py/examples/file_upload.py
  py/examples/nav.py
  py/examples/tab.py
  py/examples/tab_link.py
Due: ./py/venv/bin/flake8

feat: Block UI while waiting for server to respond (#236)
  py/examples/breadcrumbs.py
  py/examples/file_upload.py
  py/examples/nav.py
  py/examples/tab.py
  py/examples/tab_link.py
  ui/src/app.tsx
  ui/src/qd.ts
Due: ./py/venv/bin/flake8

fix: Show/hide busy overlay immediately #17 Also, move into standalone component
  ui/src/app.tsx
  ui/src/qd.ts
Due: none

fix: Block ui immediately, but display spinner after delay #17
  ui/src/app.tsx
Due: none

feat: Add trigger prop to color picker #234 (#258)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/color_picker.test.tsx
  ui/src/color_picker.tsx
Due: ./py/venv/bin/flake8

feat: Allow collapsing nav items #240 (#257)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/nav.test.tsx
  ui/src/nav.tsx
Due: ./py/venv/bin/flake8

fix: Add string option to data_type
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: Support displaying and sorting numeric and time columns in ui.table() #178 (#246)
  py/examples/table.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: Allow links/link-buttons to have targets
  py/examples/link.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/link.test.tsx
  ui/src/link.tsx
Due: ./py/venv/bin/flake8

feat: Allow links/link-buttons to have targets. Closes #241
  py/examples/link.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/link.test.tsx
  ui/src/link.tsx
Due: ./py/venv/bin/flake8

docs: Fix typo in development docs
  website/docs/development.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: update docstring #244
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/textbox.tsx
Due: ./py/venv/bin/flake8

fix: change names in package.json and VERSION file
  VERSION
  package.json
  ui/package.json
Due: none

feat: add initial api for H2O3
  py/examples/h2o3.py
  py/h2o_wave/__init__.py
  py/h2o_wave/core.py
  py/h2o_wave/platform.py
Due: ./py/venv/bin/flake8

fix: remove development paths
  py/examples/h2o3.py
Due: ./py/venv/bin/flake8
