Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-staged:typescript, npm run lint-staged:eslint, npm run lint-staged:tests, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "*.(ts|tsx)": [
    "npm run lint-staged:typescript",
    "npm run lint-staged:eslint",
    "npm run lint-staged:tests"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

docs: Change ~8MB to ~10MB for consistency #28
  website/docs/installation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: replace `q` with `wave` in directory structure block #28
  website/docs/tour.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add missing conjunction in server start block #28
  website/docs/_start_q.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Remove .vscode from .gitignore (There are extn recommendations in our .vscode dir.)
  .gitignore
Due: none

fix: Remove refs to qd in test launcher (#218)
  .gitignore
  test/cypress.py
Due: ./py/venv/bin/flake8

docs: Remove discord link #28
  website/docusaurus.config.js
Due: none

chore: Replace logos, favicon, readme #208
  README.md
  q.png
  ui/public/favicon.ico
  ui/public/logo192.png
  ui/public/logo512.png
  wave.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Replace website logo and favicon #208
  website/static/img/favicon.ico
  website/static/img/hero.jpg
  website/static/img/logo.svg
Due: none

feat: allow escaping python keywords for cypress commands
  py/h2o_wave/test.py
Due: ./py/venv/bin/flake8

Fix broken braces #224
  py/h2o_wave/test.py
Due: ./py/venv/bin/flake8

Add docs for this feature #224
  website/docs/browser-testing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Allow escaping Cypress function names that are reserved words in Python. Closes #224
  py/h2o_wave/test.py
  website/docs/browser-testing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Make % heights work on frames #213
  ui/src/form.tsx
Due: none

feat: Add data-test attribute to all form components (#202)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/button.test.tsx
  ui/src/button.tsx
  ui/src/card_menu.test.tsx
  ui/src/card_menu.tsx
  ui/src/expander.tsx
  ui/src/form.tsx
  ui/src/frame.test.tsx
  ui/src/frame.tsx
  ui/src/icon_table_cell_type.test.tsx
  ui/src/icon_table_cell_type.tsx
  ui/src/label.test.tsx
  ui/src/label.tsx
  ui/src/link.test.tsx
  ui/src/link.tsx
  ui/src/message_bar.test.tsx
  ui/src/message_bar.tsx
  ui/src/progress.test.tsx
  ui/src/progress.tsx
  ui/src/progress_table_cell_type.test.tsx
  ui/src/progress_table_cell_type.tsx
  ui/src/separator.test.tsx
  ui/src/separator.tsx
  ui/src/tabs.tsx
  ui/src/template.test.tsx
  ui/src/template.tsx
  ui/src/text.test.tsx
  ui/src/text.tsx
  ui/src/vega.test.tsx
  ui/src/vega.tsx
Due: ./py/venv/bin/flake8

feat: datepicker trigger initial implementation #108
  py/examples/date_picker_trigger.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/date_picker.tsx
Due: ./py/venv/bin/flake8

test: date picker trigger unit tests #108
  ui/src/date_picker.test.tsx
Due: none

chore: gitignore Jetbrains IDEfiles #108
  .gitignore
Due: none

chore: add datepicker trigger tour example #108
  py/examples/date_picker_trigger.py
Due: ./py/venv/bin/flake8

Improve example subtitle #108
  py/examples/date_picker_trigger.py
Due: ./py/venv/bin/flake8

Datepicker trigger (#210)
  .gitignore
  py/examples/date_picker_trigger.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/date_picker.test.tsx
  ui/src/date_picker.tsx
Due: ./py/venv/bin/flake8

feat: allow row preselection within table #72
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: table preselection example, table component cleanup #72
  py/examples/table_preselection.py
  py/examples/tour.conf
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

chore: sync api #72
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.test.tsx
Due: ./py/venv/bin/flake8

feat: allow row preselection within table #72 (#205)
  py/examples/table_preselection.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: update login form handling #45
  ui/src/app.tsx
  ui/src/index.tsx
  ui/src/login.tsx
  ui/src/router.tsx
Due: none

feat: add basic oidc support #45
  client.go
  cmd/wave/main.go
  go.sum
  oidc.go
  py/h2o_wave/server.py
  server.go
  socket.go
  ui/package-lock.json
  ui/package.json
  ui/src/app.tsx
  ui/src/index.tsx
  ui/src/login.tsx
Due: golint -set_exit_status, ./py/venv/bin/flake8

feat: address naming issues
  go.mod
  go.sum
  oidc.go
Due: golint -set_exit_status

feat: change endpoint names and add logout #45
  cmd/wave/main.go
  oidc.go
  server.go
  ui/src/login.tsx
Due: golint -set_exit_status

feat: fix login fallback handler #45
  cmd/wave/main.go
  oidc.go
  py/h2o_wave/server.py
  server.go
Due: golint -set_exit_status, ./py/venv/bin/flake8

feat: save url to redirect to #45
  server.go
Due: golint -set_exit_status

docs: alter visible docstring plus minor unit test fixes #155
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/button.tsx
  ui/src/checkbox.tsx
  ui/src/checklist.tsx
  ui/src/choice_group.tsx
  ui/src/color_picker.tsx
  ui/src/combobox.tsx
  ui/src/date_picker.tsx
  ui/src/dropdown.tsx
  ui/src/expander.tsx
  ui/src/file_upload.tsx
  ui/src/frame.tsx
  ui/src/label.test.tsx
  ui/src/label.tsx
  ui/src/link.tsx
  ui/src/markup.test.tsx
  ui/src/markup.tsx
  ui/src/message_bar.tsx
  ui/src/picker.tsx
  ui/src/plot.test.tsx
  ui/src/plot.tsx
  ui/src/progress.test.tsx
  ui/src/progress.tsx
  ui/src/range_slider.tsx
  ui/src/separator.tsx
  ui/src/slider.tsx
  ui/src/spinbox.tsx
  ui/src/stepper.test.tsx
  ui/src/stepper.tsx
  ui/src/table.tsx
  ui/src/tabs.tsx
  ui/src/template.tsx
  ui/src/text.tsx
  ui/src/textbox.tsx
  ui/src/toggle.tsx
  ui/src/vega.tsx
Due: ./py/venv/bin/flake8

fix: incorporate review comments #45
  cmd/wave/main.go
  oidc.go
  py/h2o_wave/core.py
  py/h2o_wave/server.py
  server.go
  socket.go
Due: golint -set_exit_status, ./py/venv/bin/flake8

chore: sync generated files #40
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

feat: add grid-like api to flex layout #40
  py/examples/meta_layout_flex_app.py
  ui/src/flex_layout.tsx
Due: ./py/venv/bin/flake8

refactor: make empty value for box the default value (flexGrow: 1) and set min-width for each card to 200px #40
  py/examples/meta_layout_flex_app.py
  ui/src/flex_layout.tsx
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

refactor: top nav using commandbar instead of tabs
  py/examples/meta_layout_flex_app.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/flex_layout.tsx
  ui/src/progress_table_cell_type.tsx
  ui/src/tab.tsx
  ui/src/top_nav.tsx
Due: ./py/venv/bin/flake8

feat: make top_nav a single card and dock it to the top if present #40
  py/examples/meta_layout_flex_app.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/app.tsx
  ui/src/cards.tsx
  ui/src/flex_layout.tsx
  ui/src/grid_layout.tsx
  ui/src/meta.tsx
  ui/src/qd.ts
  ui/src/top_nav.tsx
Due: ./py/venv/bin/flake8

feat: topNav for mobile and desktop for flex layout #40
  py/examples/meta_layout_flex.py
  py/examples/meta_layout_flex_app.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/app.tsx
  ui/src/flex_layout.tsx
  ui/src/header.tsx
  ui/src/meta.tsx
  ui/src/qd.ts
  ui/src/tab.test.tsx
  ui/src/tab.tsx
  ui/src/theme.ts
  ui/src/top_nav.tsx
Due: ./py/venv/bin/flake8
