Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-staged:typescript, npm run lint-staged:eslint, npm run lint-staged:tests, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

Make checklist spacing consistent with checkboxes.
  ui/src/checklist.tsx
Due: none

Reorder items in examples; improve labels
  py/examples/form.py
Due: ./py/venv/bin/flake8

fix: add negative margin to range slider in order to decrease gap #96
  ui/src/range_slider.tsx
Due: none

fix: add parents to parentless components in order to gain conssistent spacing #96
  ui/src/checkbox.tsx
  ui/src/picker.tsx
  ui/src/range_slider.test.tsx
  ui/src/range_slider.tsx
  ui/src/text.tsx
Due: none

Display select/deselect-all links below dropdown; fix font size
  ui/src/dropdown.tsx
Due: none

style: add proper spacing to form components #96
  py/examples/form.py
  py/examples/tour.conf
  ui/src/button.tsx
  ui/src/checklist.tsx
  ui/src/expander.tsx
  ui/src/file_upload.tsx
  ui/src/form.tsx
  ui/src/frame.tsx
  ui/src/message_bar.tsx
  ui/src/range_slider.tsx
  ui/src/separator.tsx
Due: ./py/venv/bin/flake8

fix: Improve whitespace/spacing between form components #96
  py/examples/form.py
  py/examples/tour.conf
  ui/src/button.tsx
  ui/src/checkbox.tsx
  ui/src/checklist.tsx
  ui/src/dropdown.tsx
  ui/src/expander.tsx
  ui/src/file_upload.tsx
  ui/src/form.tsx
  ui/src/frame.tsx
  ui/src/message_bar.tsx
  ui/src/picker.tsx
  ui/src/range_slider.test.tsx
  ui/src/range_slider.tsx
  ui/src/separator.tsx
  ui/src/text.tsx
Due: ./py/venv/bin/flake8

docs: Move example sync'ing to Python dir #23
  py/Makefile
  py/sync_examples.py
Due: ./py/venv/bin/flake8

docs: Improve several examples; order examples by importance #23
  py/examples/form.py
  py/examples/markdown_data.py
  py/examples/message_bar.py
  py/examples/picker.py
  py/examples/plot_plotly.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

docs: Improve textbox trigger example #23
  py/examples/textbox_trigger.py
Due: ./py/venv/bin/flake8

docs: Add game of life / glider gun example #23
  py/examples/glider_gun.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

feat: allow buttons positioning #87
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/button.tsx
Due: ./py/venv/bin/flake8

feat: always show form submit buttons in view #87
  ui/src/form.tsx
Due: none

fix: use existing choices for initial values in picker component #169
  ui/src/picker.test.tsx
  ui/src/picker.tsx
Due: none

fix: call qd.sync for empty hash (homepage) as well #114
  ui/src/app.tsx
Due: none

fix: make table sort numerical columns #172
  ui/src/table.tsx
Due: none

feat: Allow justifying buttons left/right/center/spread #87
  py/h2o_q/types.py
  py/h2o_q/ui.py
  r/R/ui.R
  ui/src/button.tsx
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

fix: Notify app if location hash is cleared in browser #114
  ui/src/app.tsx
Due: none

fix: Display labels instead of names when a picker's initial values are set #169
  ui/src/picker.test.tsx
  ui/src/picker.tsx
Due: none

refactor: remove redundancies in table sorting function #172
  ui/src/table.tsx
Due: none

fix: Handle sorting of numeric columns in table component #172
  ui/src/table.tsx
Due: none

fix unstable test
  py/examples/wizard.py
  website/docs/testing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Correct sample wizard test (#179)
  py/examples/wizard.py
  website/docs/testing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Remove cypress videos dir from release build #23
  Makefile
Due: none

docs: Remove API page #23
  website/src/pages/api.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Improve preview on example pages #23
  website/src/css/custom.css
Due: none

feat: Display spinner on non-existent pages #142
  ui/src/app.tsx
Due: none

docs: Rename issue tracker example #23
  py/examples/issue_tracker.py
Due: ./py/venv/bin/flake8

test launcher should be able to start qd
  test/cypress.py
Due: ./py/venv/bin/flake8

fix arg description
  test/cypress.py
Due: ./py/venv/bin/flake8

fix PR comments
  test/cypress.py
Due: ./py/venv/bin/flake8

feat: fill card data-test with a card name #157
  ui/src/breadcrumbs.tsx
  ui/src/flex.tsx
  ui/src/form.tsx
  ui/src/frame.tsx
  ui/src/graphics.tsx
  ui/src/grid.tsx
  ui/src/header.tsx
  ui/src/image.tsx
  ui/src/large_bar_stat.tsx
  ui/src/large_stat.tsx
  ui/src/list.tsx
  ui/src/list_item1.tsx
  ui/src/markdown.tsx
  ui/src/markup.tsx
  ui/src/nav.tsx
  ui/src/none.tsx
  ui/src/pixel_art.tsx
  ui/src/plot.tsx
  ui/src/repeat.tsx
  ui/src/small_series_stat.tsx
  ui/src/small_stat.tsx
  ui/src/tall_gauge_stat.tsx
  ui/src/tall_series_stat.tsx
  ui/src/template.tsx
  ui/src/vega.tsx
  ui/src/wide_bar_stat.tsx
  ui/src/wide_gauge_stat.tsx
  ui/src/wide_series_stat.tsx
Due: none

feat: include tab and toolbar cards #157
  ui/src/tab.tsx
  ui/src/toolbar.tsx
Due: none

ci: Make test launcher start Q server (#180)
  test/cypress.py
Due: ./py/venv/bin/flake8

fix: remove stepper from cards.tsx #157
  ui/src/cards.tsx
Due: none

docs: Add intro page #23
  website/docs/index.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add contribution page #23
  website/docs/contributing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add tour walkthrough #23
  website/docs/tour.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Move testing to browser testing #23
  website/docs/browser-testing.md
  website/docs/testing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Path conditions:
  npm run lint-staged:typescript: any of: *.(ts|tsx)
  npm run lint-staged:eslint: any of: *.(ts|tsx)
  npm run lint-staged:tests: any of: *.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
