Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-staged:typescript, npm run lint-staged:eslint, npm run lint-staged:tests, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "*.(ts|tsx)": [
    "npm run lint-staged:typescript",
    "npm run lint-staged:eslint",
    "npm run lint-staged:tests"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: make git hooks work with all wave project modules
  .eslintignore
  .eslintrc.js
  .huskyrc.json
  .lintstagedrc.json
  babel.config.json
  ide/.eslintignore
  package-lock.json
  package.json
  tools/wavegen/.eslintignore
  tools/wavegen/tsconfig.json
  ui/.eslintignore
  ui/eslint/package.json
  ui/package.json
Due: none

chore: make lint-staged use own set of tools for each project
  .eslintignore
  .lintstagedrc.json
  babel.config.json
  package-lock.json
  package.json
  tools/wavegen/.eslintrc.js
  tools/wavegen/package-lock.json
  tools/wavegen/package.json
  tools/wavegen/tsconfig.json
  ui/.eslintrc.js
  ui/jest.config.js
  ui/package-lock.json
  ui/package.json
Due: none

feat: use native git hooks instead of external libs
  .huskyrc.json
  .lintstagedrc.json
  Makefile
  githooks/commit-msg.js
  githooks/pre-commit.js
  package.json
  ui/.commitlintrc.js
  ui/.eslintrc.js
  ui/.markdownlint.json
  ui/package-lock.json
  ui/package.json
Due: none

fix: code review
  Makefile
Due: none

feat: add commit lint to native git hooks
  githooks/commit-msg.js
Due: none

chore: remove semicolons
  githooks/pre-commit.js
Due: none

Update ui/src/textbox.test.tsx
  ui/src/textbox.test.tsx
Due: none

Apply suggestions from code review
  ui/src/textbox.test.tsx
  ui/src/textbox.tsx
Due: none

fix: linting errors due to new linting technique
  package-lock.json
  ui/.eslintignore
  ui/src/page.tsx
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
  ui/src/parts/progress_arc.tsx
  ui/src/plot.tsx
  ui/src/qd.ts
Due: none

chore: remove DEV.md, add windows dev notice
  .github/CONTRIBUTING.md
  DEV.md
  website/docs/contributing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Introduce submit attribute to textbox
  py/examples/textbox.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  ui/src/textbox.test.tsx
  ui/src/textbox.tsx
Due: ./py/venv/bin/flake8

fix(docs): remove extra /examples from gallery link #413
  py/sync_examples.py
Due: ./py/venv/bin/flake8

Add OSX to verbiage
  .github/CONTRIBUTING.md
  website/docs/contributing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Remove DEV.md, add windows notice (#412)
  .github/CONTRIBUTING.md
  DEV.md
  website/docs/contributing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: use baseURL hook to keep links working both local and hosted env
  py/sync_examples.py
Due: ./py/venv/bin/flake8

Add new example to tour config.
  py/examples/tour.conf
Due: none

Include example of displaying pandas dataframe to the UI.
  py/examples/table_markdown_pandas.py
Due: ./py/venv/bin/flake8

docs: Add example for displaying a Pandas frame as a markdown table (#417)
  py/examples/table_markdown_pandas.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

chore: Improve git hooks setup (#268)
  .huskyrc.json
  .lintstagedrc.json
  Makefile
  githooks/commit-msg.js
  githooks/pre-commit.js
  ide/.eslintignore
  package-lock.json
  package.json
  tools/wavegen/.eslintignore
  tools/wavegen/.eslintrc.js
  tools/wavegen/package-lock.json
  tools/wavegen/package.json
  ui/.commitlintrc.js
  ui/.eslintignore
  ui/.markdownlint.json
  ui/eslint/package.json
  ui/jest.config.js
  ui/package-lock.json
  ui/package.json
  ui/src/page.tsx
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
  ui/src/parts/progress_arc.tsx
  ui/src/plot.tsx
  ui/src/qd.ts
Due: none

Add example plots directly from pandas dataframe.
  py/examples/tour.conf
Due: none

Add new file of example plots directly from pandas dataframe.
  py/examples/plot_dataframe.py
Due: ./py/venv/bin/flake8

Add checkout and build
  .github/workflows/release.yml
Due: none

Remove new linen in run
  .github/workflows/release.yml
Due: none

Move checkout to 1st step
  .github/workflows/release.yml
Due: none

Remove checkout
  .github/workflows/release.yml
Due: none

Add test echo
  .github/workflows/release.yml
Due: none

Add checkout
  .github/workflows/release.yml
Due: none

docs: Fix card name typo in tutorial
  website/docs/tutorial-hello.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix(docs): Ensure that links to examples are relative to the base URL (#414)
  py/sync_examples.py
Due: ./py/venv/bin/flake8

Replace asyncio.create_subprocess_exec() with python subprocess for tour
  py/examples/tour.py
Due: ./py/venv/bin/flake8

fix(dropdown): force callout to stick with bottom left edge #149
  githooks/pre-commit.js
  ui/src/dropdown.tsx
Due: none

chore: remove unused icon initialization for test #149
  ui/src/dropdown.test.tsx
Due: none

revert: unwanted change #149
  githooks/pre-commit.js
Due: none

docs: add link to wave sso from enterprise enable oidc
  website/docs/enterprise/developer-guide.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Edited index.js
  website/src/pages/index.js
Due: none

docs: Add thumbnail for markdown/pandas example
  website/docs/examples/assets/table-markdown-pandas.png
Due: none

docs: Add temporary/test file server
  cmd/fs/main.go
Due: golint -set_exit_status
