Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-staged:typescript, npm run lint-staged:eslint, npm run lint-staged:tests, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "*.(ts|tsx)": [
    "npm run lint-staged:typescript",
    "npm run lint-staged:eslint",
    "npm run lint-staged:tests"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: Add github banner
  assets/brand/wave.svg
Due: none

Move closing parentheses
  py/h2o_wave/__init__.py
Due: ./py/venv/bin/flake8

Move closing parentheses
  py/README.rst
Due: none

docs: Change tagline to match website
  docs/c4f5d8e4.efe85079.js
  docs/main.091dff9e.js
  website/docusaurus.config.js
  website/src/pages/index.js
Due: none

Implement searchbar_card for wave
  py/examples/searchbar.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  ui/src/cards.tsx
  ui/src/searchbar.test.tsx
  ui/src/searchbar.tsx
Due: ./py/venv/bin/flake8

chore: update github issue/bug template to comply with markdown spec, rename Q to Wave
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Update github issue/bug template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Add notice to readme
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update readme with links and screenshots
  README.md
  assets/visuals/components-1.png
  assets/visuals/components-2.png
  assets/visuals/theme-dark.png
  assets/visuals/theme-light.png
  assets/visuals/theme-neon.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update links in docs/readme.
  README.md
  docs/c4f5d8e4.efe85079.js
  website/docusaurus.config.js
  website/src/pages/index.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: use addListener because Safari does not support anything else, use min_width in addition to width
  ui/src/page.tsx
Due: none

feat: initial ordered_select implementation #386
  py/examples/ordered_select.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/package-lock.json
  ui/src/form.tsx
  ui/src/ordered_select.tsx
Due: ./py/venv/bin/flake8

feat: add gdpr notice to docs
  website/src/css/custom.css
  website/src/theme/Footer/index.js
Due: none

fix: update ini version in package lock files
  ide/package-lock.json
  package-lock.json
  test/package-lock.json
Due: none

fix: Upgrade ini package for CVE-2020-7788 (#396)
  ide/package-lock.json
  package-lock.json
  test/package-lock.json
Due: none

docs: Move closing parentheses (#389)
  py/README.rst
Due: none

docs: Move closing parentheses (#388)
  py/h2o_wave/__init__.py
Due: ./py/venv/bin/flake8

docs: Add example for executing background functions while incrementing a progress bar
  py/examples/background.py
  py/examples/background_executor.py
  py/examples/background_progress.py
  py/examples/tour.conf
  website/docs/examples/assets/background-progress.png
Due: ./py/venv/bin/flake8

fix: Use addListener instead of addEventListener for media queries (#394)
  ui/src/page.tsx
Due: none

chore: add ga tag
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Due: none

Add release github action
  .github/workflows/release.yml
Due: none

Add on to github action
  .github/workflows/release.yml
Due: none

Create release.yml
  .github/workflows/release.yml
Due: none

Change trigger event to push
  .github/workflows/release.yml
Due: none

docs: add shields to main readme
  .markdownlint.json
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: unify contribution guide #400
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  website/docs/contributing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Forward refresh token to python client #365
  client.go
  py/h2o_wave/server.py
  socket.go
Due: golint -set_exit_status, ./py/venv/bin/flake8

docs: add rules for picking features to implement #400
  .github/CONTRIBUTING.md
  website/docs/contributing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Forward OIDC refresh token to python client #365 (#405)
  client.go
  py/h2o_wave/server.py
  socket.go
Due: golint -set_exit_status, ./py/venv/bin/flake8

docs: Unify contribution guide and CONTRIBUTING.md #400 (#404)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  website/docs/contributing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add shields to main readme (#403)
  .markdownlint.json
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Point license shield to github
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Add GDPR notice and GA to docs (#395)
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/css/custom.css
  website/src/theme/Footer/index.js
Due: none

docs: Fix typos in docs/examples. Fixes #393
  py/examples/hello_world.py
  py/h2o_wave/__init__.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/link.tsx
Due: ./py/venv/bin/flake8

docs: Point download links to releases instead of /latest
  website/docusaurus.config.js
Due: none

Add enter handler for textbox
  py/examples/textbox.py
  ui/src/textbox.test.tsx
  ui/src/textbox.tsx
Due: ./py/venv/bin/flake8

fix(docs): server side generate fail due to client only object used
  website/src/theme/Footer/index.js
Due: none

fix(docs): Handle client-only code properly during website build (#408)
  website/src/theme/Footer/index.js
Due: none

docs: Add screencap to docs homepage; clean up readme
  README.md
  website/src/pages/index.js
  website/static/img/hero.png
Due: ./node_modules/markdownlint-cli/markdownlint.js
