Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-staged:typescript, npm run lint-staged:eslint, npm run lint-staged:tests, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

refactor: unify api, cleanup CSS
  py/examples/dashboard.py
  py/examples/meta_layout_flex_app.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/app.tsx
  ui/src/side_nav.tsx
  ui/src/theme.ts
  ui/src/top_nav.tsx
Due: ./py/venv/bin/flake8

fix: resize plots after sidenav collapse #40
  ui/src/side_nav.tsx
Due: none

style: add spacing to collapsed top nav #40
  py/examples/meta_layout_flex_app.py
  ui/src/app.tsx
  ui/src/side_nav.tsx
  ui/src/top_nav.tsx
Due: ./py/venv/bin/flake8

feat: sidebar nav with header prop, mobile friendly #40
  py/examples/meta_layout_flex_app.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/app.tsx
  ui/src/cards.tsx
  ui/src/flex_layout.tsx
  ui/src/grid_layout.tsx
  ui/src/header.tsx
  ui/src/nav.tsx
  ui/src/side_nav.tsx
  ui/src/theme.ts
  ui/src/top_nav.tsx
Due: ./py/venv/bin/flake8

chore: adjust flex_layout example to conform to the new API #40
  py/examples/meta_layout_flex.py
Due: ./py/venv/bin/flake8

feat: make data-viz responsive in respect to its container #40
  py/examples/dashboard.py
  py/examples/meta_layout_flex_app.py
  py/examples/plot_altair.py
  py/examples/plot_bokeh.py
  py/examples/plot_d3.py
  py/examples/plot_plotly.py
  ui/src/frame.tsx
  ui/src/grid_layout.tsx
  ui/src/plot.tsx
  ui/src/small_series_stat.tsx
  ui/src/small_stat.tsx
  ui/src/tall_series_stat.tsx
  ui/src/vega.tsx
  ui/src/wide_gauge_stat.tsx
  ui/src/wide_series_stat.tsx
Due: ./py/venv/bin/flake8

feat: compute grid layout units dynamically based on screen size #40
  ui/src/grid_layout.tsx
Due: none

fix: rebase merge header data-test edit #40
  ui/src/header.tsx
  ui/src/side_nav.tsx
  ui/src/top_nav.tsx
Due: none

feat: make stepper component mobile responsive #40
  py/examples/stepper.py
  ui/src/stepper.tsx
Due: ./py/venv/bin/flake8

fix: prevent text breaking for collapsed sidebar - does not snap original menu items #40
  ui/src/side_nav.tsx
Due: none

fix: prevent subtitle line break when not enough space #40
  ui/src/top_nav.tsx
Due: none

chore: unify flex gap #40
  ui/src/flex_layout.tsx
Due: none

fix: differentiate top-nav and side-nav header data-test attrs #40
  py/examples/meta_layout_flex.py
  py/examples/meta_layout_flex_app.py
  ui/src/side_nav.tsx
  ui/src/top_nav.tsx
Due: ./py/venv/bin/flake8

feat: sidebar opens on hover and doesn't move main content #40
  py/examples/meta_layout_flex_app.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/app.tsx
  ui/src/nav.tsx
  ui/src/side_nav.tsx
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

fix: side nav for mobile #40
  ui/src/side_nav.tsx
Due: none

Move Auth class to server; improve docs.
  py/h2o_wave/core.py
  py/h2o_wave/server.py
Due: ./py/venv/bin/flake8

feat: Integrate OIDC into Wave (#212)
  client.go
  cmd/wave/main.go
  go.mod
  go.sum
  oidc.go
  py/h2o_wave/server.py
  server.go
  socket.go
  ui/package-lock.json
  ui/package.json
  ui/src/index.tsx
  ui/src/login.tsx
  ui/src/router.tsx
Due: golint -set_exit_status, ./py/venv/bin/flake8

docs: Add missing thumbnails for new examples; fix typos
  py/examples/date_picker_trigger.py
  py/examples/table_select.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  website/docs/examples/assets/date-picker-trigger.png
  website/docs/examples/assets/table-select.png
Due: ./py/venv/bin/flake8

docs: Update configuration page
  cmd/wave/main.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

docs: Add security, HTTPS, OIDC page
  website/docs/security.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

Release 0.8.0
  py/examples/requirements.txt
  py/setup.py
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Fix typos in breadcrumbs docstrings
  r/R/ui.R
  ui/src/breadcrumbs.tsx
Due: none

docs: Fix sidebar
  docs/3b64911a.77a6696c.js
  docs/runtime~main.f64344fe.js
Due: none

fix(test): make wizard test pass again
  py/examples/wizard.py
Due: ./py/venv/bin/flake8

feat: block UI after sync() #17
  ui/src/qd.ts
Due: none

fix: pr comments fixup
  py/examples/wizard.py
Due: ./py/venv/bin/flake8

docs: remove q8s "product" references in the public docs
  website/docs/enterprise/basic-concepts.md
  website/docs/enterprise/developer-guide.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: automatic breadcrumbs recalculation based on url hash #171
  py/examples/breadcrumbs_auto.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/breadcrumbs.test.tsx
  ui/src/breadcrumbs.tsx
  ui/src/tab.test.tsx
  ui/src/tab.tsx
Due: ./py/venv/bin/flake8

docs: document new app.toml options
  website/docs/enterprise/developer-guide.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

refactor: get rid of auto prop, use empty items instead, update docs #171
  py/examples/breadcrumbs_auto.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/breadcrumbs.test.tsx
  ui/src/breadcrumbs.tsx
  website/docs/examples/assets/breadcrumbs-auto.png
Due: ./py/venv/bin/flake8

feat: add spinner #17
  ui/src/app.tsx
  ui/src/qd.ts
Due: none

docs: remove q8s references
  website/docs/enterprise/basic-concepts.md
  website/docs/enterprise/developer-guide.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix(test): make wizard test pass again (#226)
  py/examples/wizard.py
Due: ./py/venv/bin/flake8

docs: document new app.toml options (#231)
  website/docs/enterprise/developer-guide.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Update documentation to refect qz and app.toml change
  website/docs/enterprise/developer-guide.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Change .qz and q-app.toml to .wave and app.toml
  website/docs/enterprise/developer-guide.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Path conditions:
  npm run lint-staged:typescript: any of: *.(ts|tsx)
  npm run lint-staged:eslint: any of: *.(ts|tsx)
  npm run lint-staged:tests: any of: *.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
