Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-staged:typescript, npm run lint-staged:eslint, npm run lint-staged:tests, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Fix typo in DEV.md
  DEV.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add thumbnails for new examples
  website/docs/examples/assets/layout-responsive.png
  website/docs/examples/assets/meta-dialog.png
  website/docs/examples/assets/plot-events.png
Due: none

Release 0.10.0
  py/examples/requirements.txt
  py/setup.py
Due: ./py/venv/bin/flake8

fix: improve contrast for primary color in dark mode
  website/src/css/custom.css
Due: none

feat: show picker suggestion list on initial click #340
  py/examples/picker.py
  ui/src/picker.test.tsx
  ui/src/picker.tsx
Due: ./py/venv/bin/flake8

refactor: use hardcoded black instead of CSS var
  website/src/css/custom.css
Due: none

feat: responsive stat cards #338
  ui/src/image.tsx
  ui/src/large_bar_stat.tsx
  ui/src/large_stat.tsx
  ui/src/layout.tsx
  ui/src/list_item1.tsx
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
  ui/src/parts/microline.tsx
  ui/src/parts/progress_arc.tsx
  ui/src/progress_table_cell_type.tsx
  ui/src/small_series_stat.tsx
  ui/src/small_stat.tsx
  ui/src/tall_gauge_stat.tsx
  ui/src/tall_series_stat.tsx
  ui/src/wide_bar_stat.tsx
  ui/src/wide_gauge_stat.tsx
  ui/src/wide_series_stat.tsx
Due: none

style: add a bit of padding to wide_series_stat
  ui/src/wide_series_stat.tsx
Due: none

feat: Make stats cards responsive
  ui/src/image.tsx
  ui/src/large_bar_stat.tsx
  ui/src/large_stat.tsx
  ui/src/layout.tsx
  ui/src/list_item1.tsx
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
  ui/src/parts/microline.tsx
  ui/src/parts/progress_arc.tsx
  ui/src/progress_table_cell_type.tsx
  ui/src/small_series_stat.tsx
  ui/src/small_stat.tsx
  ui/src/tall_gauge_stat.tsx
  ui/src/tall_series_stat.tsx
  ui/src/wide_bar_stat.tsx
  ui/src/wide_gauge_stat.tsx
  ui/src/wide_series_stat.tsx
Due: none

docs: Fix primary color in dark mode (#339)
  website/src/css/custom.css
Due: none

feat: Display picker suggestion list in advance #340 (#341)
  py/examples/picker.py
  ui/src/picker.test.tsx
  ui/src/picker.tsx
Due: ./py/venv/bin/flake8

feat: add ability to show/hide legend for plots #351
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

Add hello world app tp tour
  py/examples/hello_world_app.py
  py/examples/hello_world_script.py
  py/examples/tour.conf
  py/examples/tour.py
Due: ./py/venv/bin/flake8

docs: document tags and visitor auth
  website/docs/enterprise/basic-concepts.md
  website/docs/enterprise/developer-guide.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: clean up
  py/examples/h2o3.py
  py/examples/ml_ex1.py
  py/h2o_wave/ml.py
  py/setup.py
Due: ./py/venv/bin/flake8

fix: correct the `extras_require`
  py/setup.py
Due: ./py/venv/bin/flake8

feat: add h2o-3 support for ml API
  py/h2o_wave/core.py
  py/h2o_wave/ml.py
  py/setup.py
Due: ./py/venv/bin/flake8

docs: document enable enterprise oidc
  website/docs/enterprise/developer-guide.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Move all stat card apps to single app
  py/examples/stat.py
  py/examples/stat_large.py
  py/examples/stat_large_bar.py
  py/examples/stat_small.py
  py/examples/stat_small_series_area.py
  py/examples/stat_small_series_interval.py
  py/examples/stat_tall_gauge.py
  py/examples/stat_tall_series_area.py
  py/examples/stat_tall_series_interval.py
  py/examples/stat_wide_bar.py
  py/examples/stat_wide_gauge.py
  py/examples/stat_wide_series_area.py
  py/examples/stat_wide_series_interval.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

Remove unintended change
  py/examples/tour.conf
Due: none

Insert stat card app to tour
  py/examples/tour.conf
Due: none

chore: update docstring
  py/h2o_wave/ml.py
Due: ./py/venv/bin/flake8

Swap left and right cards
  py/examples/stat.py
Due: ./py/venv/bin/flake8

feat: determine class. problem automatically #342
  py/h2o_wave/ml.py
Due: ./py/venv/bin/flake8

chore: update docs
  py/h2o_wave/ml.py
Due: ./py/venv/bin/flake8

chore: fix return value in a docstring
  py/h2o_wave/ml.py
Due: ./py/venv/bin/flake8

Remove faker from stat cards
  py/examples/stat.py
Due: ./py/venv/bin/flake8

Remove foo bar like variables
  py/examples/stat.py
Due: ./py/venv/bin/flake8

Make variables names meaningful
  py/examples/stat.py
Due: ./py/venv/bin/flake8

Add comment
  py/examples/stat.py
Due: ./py/venv/bin/flake8

https://github.com/h2oai/wave/issues/353 - Removed description on top - Renamed plots - added axes titles - renamed annotation
  py/examples/native_plots.py
Due: ./py/venv/bin/flake8

https://github.com/h2oai/wave/issues/353 - Merge table and table_settings
  py/examples/table.py
  py/examples/table_column_settings.py
Due: ./py/venv/bin/flake8

https://github.com/h2oai/wave/issues/353 - Remove table_settings from tour
  py/examples/tour.conf
Due: none

https://github.com/h2oai/wave/issues/353 - Clean up form.py and add comments - removed all other form / X - Leaving form_menu.py as there is no menu.py
  py/examples/form.py
  py/examples/form_frame.py
  py/examples/form_frame_path.py
  py/examples/form_markup.py
  py/examples/form_menu.py
  py/examples/form_template.py
Due: ./py/venv/bin/flake8

https://github.com/h2oai/wave/issues/353 - removing form / X from tour
  py/examples/tour.conf
Due: none

docs: add ml docs
  website/docs/ml.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

https://github.com/h2oai/wave/issues/353 - horizontal form app (instead of two cards)
  py/examples/form.py
Due: ./py/venv/bin/flake8

docs: Document tags and visitor auth for HAC (#366)
  website/docs/enterprise/basic-concepts.md
  website/docs/enterprise/developer-guide.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

https://github.com/h2oai/wave/issues/353 - Single text app that includes header, label, text_sizes, markdown, markup, separator - Merged Frame and Frame_path - Merged template and template_data
  py/examples/frame.py
  py/examples/frame_path.py
  py/examples/header.py
  py/examples/label.py
  py/examples/markdown.py
  py/examples/markdown_data.py
  py/examples/markup.py
  py/examples/separator.py
  py/examples/template.py
  py/examples/template_data.py
  py/examples/text.py
  py/examples/text_sizes.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

Path conditions:
  npm run lint-staged:typescript: any of: *.(ts|tsx)
  npm run lint-staged:eslint: any of: *.(ts|tsx)
  npm run lint-staged:tests: any of: *.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
